@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --steal: #9a7242;
}
.menu-btn-style,
.menu-hover-style > div {
  background-color: black;
  color: var(--steal);
  transform: rotate(0deg);
  transition: transform 800ms ease;
}

.menu-btn-style:hover {
  background-color: var(--steal);
  color: black;
}

.menu-hover-style:hover {
  > div {
    background-color: var(--steal);
    color: black;
    transform: rotate(180deg);
  }
}
