@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seal: #fae7a8;
}

body {
  background-color: gray;
  font-family: Nunito, sans-serif;
}

.menu-btn-style,
.menu-hover-style > div {
  background-color: black;
  color: var(--seal);

  &:hover {
    background-color: var(--seal);
    color: black;
  }
}

.menu-hover-style > div {
  transform: rotate(0deg);
  transition: transform 800ms ease;
}

.menu-hover-style:hover > div {
  background-color: var(--seal);
  color: black;
  transform: rotate(180deg);
}

.bg-gradient {
  background-image: linear-gradient(to top, black, transparent);
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer__nav {
  color: #777777;
}

.footer__nav ul li:hover {
  color: var(--seal);
  cursor: pointer;
}

.model-view-btn {
  background-color: black;
  color: var(--seal);
}

.model-view-btn:hover {
  cursor: pointer;
  background-color: var(--seal);
  color: black;
}

.roadmap-btn:hover > span {
  background-color: var(--seal);
  color: black;
}

.cancel-btn > span {
  background-color: white;
  transform: rotate(0deg);
  transition: transform 700ms ease;
}

.cancel-btn:hover > span {
  transform: rotate(180deg);
  background-color: gray;
  color: white;
}

.animate-up-down {
  animation: slide 1s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(30px);
  }
}

.more-btn {
  background: linear-gradient(to right, #518eff 35%, #3ba4a6 88%);

  &:hover {
    background: linear-gradient(to right, #3ba4a6 35%, #518eff 88%);
  }
}

@layer utilities {
  .head-text {
    @apply md:text-3xl text-2xl mb-3 font-bold;
  }
  .sub-head-text {
    @apply md:text-2xl text-xl mb-2 font-semibold;
  }
  .para-text {
    @apply md:text-xl text-lg mb-6;
  }
}
